:root {
    --fundo-principal: #F5F1E9;
    --fundo-card: #FFFFFF;
    --border: #D9D6CF;
    --shadow: rgba(0,0,0,0.08);
    --verde-escuro: #2D5D34;
    --verde-medio: #4A7C4A;
    --verde-claro: #9CCC65;
    --texto-principal: #3B3A36;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    height: 95vh;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    background: var(--fundo-principal);
    color: var(--texto-principal);
}

form {
    max-width: 600px;
    width: 90%;
    margin-top: 7rem;
    padding: 2rem;

    background: var(--fundo-card);
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

#form-title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--texto-principal);
    text-align: center;
    margin-bottom: 0.5rem;
}

/* Estilização dos Labels e Inputs/Selects */
.form-label {
    font-size: 1.1rem;
    color: var(--texto-principal);
    font-weight: 500;
}

.form-input, #quantidade-produto, #descricao-produto, #select-filtros {
    height: auto;
    min-height: 2.5rem;
    padding: 0.8rem;
    width: 100%;
    border: 1px solid var(--neutro);
    border-radius: 6px;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.form-input:focus, #quantidade-produto:focus, #descricao-produto:focus, #select-filtros:focus {
    outline: none;
    border-color: var(--acento-principal);
    box-shadow: 0 0 6px rgba(199, 111, 22, 0.3);
}

#descricao-produto {
    min-height: 8rem; /* Aumenta a altura da descrição */
    resize: vertical;
}


#submit-button {
    background-color: var(--acento-principal);
    color: var(--fundo-principal);
    padding: 0.8rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#submit-button:hover {
    background-color: #af6012;
    transform: translateY(-2px);
}

.div-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}