*{
    box-sizing: border-box;
}

:root {
    --fundo-principal: #F6F4EF;        
    --fundo-card: #FFFFFF;             
    --border: #D9D6CF;                
    --shadow: rgba(0, 0, 0, 0.08);    

    
    --verde-escuro: #2D5D34;        
    --verde-medio: #4A7C4A;          
    --verde-claro: #9CCC65;           
    --verde-suave: #C8E6C9;           

    --texto-principal: #3B3A36;    
    --texto-secundario: #5A5A58;      
    --texto-inativo: #9E9E9E;         

   
    --acento-principal: var(--verde-escuro);   
    --acento-secundario: var(--verde-medio);   
    --aviso: #E57373;
    --sucesso: #81C784;              
    --fundo-invertido: #2D5D34;
    --texto-invertido: #F6F4EF;
}


header {
    height: 80px; /* Altura fixa para padronizar */
    padding: 0 2rem; /* Ajuste do padding para evitar inconsistências */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Lato', sans-serif;
    color: var(--texto-invertido);
    background-color: var(--verde-escuro);
}

header.crud-header {
    background-color: var(--acento-secundario);
    color: var(--fundo-principal);
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
    font-family: "Pangolin", cursive;
    font-weight: 400;
}

nav#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

nav#menu a {
    color: var(--fundo-card); 
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    font-family: "Lato", sans-serif;
}

#menu a:hover {
    color: var(--verde-suave);
}

#menu .avatar:hover {
    opacity: 0.8;
}
#logo{
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
    .perfil{
        padding: 1rem;
    }
    nav#menu {
        margin-top: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.3rem;
    }

    header h1 {
        font-size: 1.5rem;
    }
}
