/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
/**************/

:root {
    --fundo-principal: #F5F1E9;
    --fundo-card: #FFFFFF;
    --border: #D9D6CF;
    --shadow: rgba(0,0,0,0.08);
    --verde-escuro: #2D5D34;
    --verde-medio: #4A7C4A;
    --verde-claro: #9CCC65;
    --texto-principal: #3B3A36;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    height: 95vh;
    font-family: 'Lato', sans-serif;
    background: var(--fundo-principal);
    color: var(--texto-principal);
}
#form-title {
    font-weight: 700;
    color: var(--verde-medio);
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    margin-top: -10px;
}
form{
    padding: 2rem;
    border-radius: 10px;
    background: #FAFAFA;
    box-shadow: 10px 4px 70px 0 rgba(0, 0, 0, 0.30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    gap: 10px;
}
.texto-logo{
    color: #6B705C;
    font-weight: 400;
    font-style: normal;
}
.box-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 13.75rem;
    line-height: 1rem;
    gap:1rem;
}
.input-box{
    display: flex;
    align-items: center;
    width: 16.5rem;
    height: 2.125rem;
    background-color: #FFF;
    border: 0.08rem solid #3D352E;
    border-radius: 999px;

}
input{
    width: 16.5rem;
    height: 1.5rem;
    border: none;
    padding-left: 0.8rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}
input:focus{
    outline: none;
}
input::placeholder{
    margin-left: 0.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

.div-label{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
label{
    color: var(--verde-medio);

    font-style: normal;
    line-height: normal;
    margin-bottom: 3px;
    font-weight: 600;
}
button{
    background-color: var(--acento-principal);
    color: var(--fundo-principal);
    width: 95%;
    padding: 0.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 999px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#btnVerSenha:hover{
    cursor: pointer;
}
button:hover {
    background-color: #af6012;
    transform: translateY(-2px);
}
#link-cad{
    margin-top: 1rem;
}

.texto-input{
    font-size: 0.9rem;
    color: var(--verde-escuro);
}
