.input-box{
    display: flex;
    align-items: center;
    width: 16.5rem;
    height: 2.125rem;
    background-color: #FFF;
    border-radius: 5px;
    border: 0.08rem solid #3D352E;

}
input{
    width: 16.5rem;
    height: 1.5rem;
    border: none;
    padding-left: 0.8rem;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}
input:focus{
    outline: none;
}
input::placeholder{
    margin-left: 0.5rem;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

.div-label{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
label{
    color: #6B705C;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}
button{
    margin: 1.5rem;
    width: 12.125rem;
    height: 2.125rem;
    background-color: #C76F16;
    border-radius: 0.4rem;
    border: none;
    color:#D9D9D9;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    filter: drop-shadow(0 4px 30px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
.btn{
    cursor: pointer;
}