/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
/**************/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f1e9;
    max-height: 100vh;
}
main{
    width: 55rem;
    height: 35.5rem;
    border-radius: 10px;
    background: #FAFAFA;
    box-shadow: 10px 4px 70px 0 rgba(0, 0, 0, 0.30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto-logo{
    color: #6B705C;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.box-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 13.75rem;
    line-height: 1rem;
    gap:1rem;
}
.input-box{
    display: flex;
    align-items: center;
    width: 16.5rem;
    height: 2.125rem;
    background-color: #FFF;
    border-radius: 5px;
    border: 0.08rem solid #3D352E;

}
input{
    width: 16.5rem;
    height: 1.5rem;
    border: none;
    padding-left: 0.8rem;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}
input:focus{
    outline: none;
}
input::placeholder{
    margin-left: 0.5rem;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

.div-label{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
label{
    color: #6B705C;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}
button{
    margin: 1.5rem;
    width: 12.125rem;
    height: 2.125rem;
    background-color: #C76F16;
    border-radius: 0.4rem;
    border: none;
    color:#D9D9D9;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    filter: drop-shadow(0 4px 30px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
.btn{
    cursor: pointer;
}