@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: lato, sans-serif;  
} 

#titulos {
    color: #1a1a1a;
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.main {
    display: flex;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    height: 500px;   
}


.filtro {
    display: flex;
    align-items: center;
    margin: 5px;
    gap: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    float: left;
}

#container-produtos {
    display: grid;
    float: left;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.container-produto {
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 280px;
    border: 1px solid #ccc;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    gap: 20px;
    border-radius: 8%;
}
.image-produto{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    border-top-right-radius: 8%;
    border-top-left-radius: 8%;
}

.nome-produto{
    font-size: medium;
    margin-left: 1vw;
    text-decoration: none;
    margin-top: -10px;
}

.descricao-produto {
    font-size: small;
    margin-left: 1vw;
    margin-right: 1vw;
    color: #555;
    margin-top: -10px;
    display: -webkit-box; /* Necessário para o clamp funcionar */
    -webkit-line-clamp: 2; /* Número de linhas visíveis */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal;
}

.container-descricao-produto {
    width: 100%;
    height: 100%;
    display: block;
}


.preco-produto {
    font-size: 20px;
    color: #1c1c1c;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    margin-top: -15px;
}

.btn-add-carrinho {

    background-color: rgb(255 125 25);
    color: #fff;
    padding: 10px 20px;
    border-radius: 14px;
    cursor: pointer;
}

.btn-add-carrinho:hover {
    opacity: 0.8;
}

.container-preco-produto{
    width: 100%;
    height: 100%;
    margin-top: 0px;
}

.container-nome-produto{
    width: 100%;
    height: 100%;
}
.container-image-produto{
    width: 100%;
    height: 100%;
}


#container-filtros {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: #f2f2f2;
    border-radius: 5%;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 100%;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    margin-top: 27%;
}

aside{
    display: flex;
    float: left;
    margin-left: 8%;
}

.nav-title{
    display: flex;
    align-items: center;
}

header{
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}
.header-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
}

.filtros{
    font-size: 14px;
    width: 25%;
}